* {
	font-family: 'Inter', sans-serif;
}

.main {
	display: block;
	background: #E5E5E5;
	align-items: stretch;
	height: 85vh;
}

.header {
	background: #E5E5E5;
}

h1 {
	/* Nenhuma mensagem encontrada */

	position: static;
	padding: 10px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	/* or 29px */

	text-align: center;

	/* Gray/gray-500 */

	color: #343A40;

	/* Inside auto layout */

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 0px 10px;
}

.logo {
	position: relative;
	height: 48px;
	left: 44px;
	border-radius: 0px;
	align-self: baseline;
	padding-top: 20px;
	padding-bottom: 20px;
}

label {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;

	color: #495057;

	opacity: 0.8;
}


.adicionar {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 60vw;
	font-size: 32px;
	line-height: 150%;

	text-align: left;
	padding: 16px 50px;
	border: none;
	background: #E5E5E5;

	color: #0A3871;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin: 80px 80px;

	height: 50%;
	width: 80%;
	resize: both;
}

.menu-inicial {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background: #E5E5E5;
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
}

.jogo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: center;
	height: 100%;
	width: 100%;
	background: #E5E5E5;
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
}

.adicionar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: center;
	align-items: flex-start;
	height: 100%;
	width: 100%;
	background: #E5E5E5;
	border-radius: 0px;
	padding: 0px 0px;
	margin: 0px;
}

.icone {
	height: 16px;
}

button {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	padding: 24px;

	position: static;
	width: 20vw;
	height: 67px;
	left: 0px;
	top: 0px;

	border-radius: 24px;

	margin: 24px 24px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 19px;
	text-align: center;
}

.botoes-jogo {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	padding: 0px;
}

button:active {
	border: 0;
}

.btn-comecar,
.btn-novo-jogo,
.btn-salvar {
	background: #0A3871;
	border: 1px solid #D8DFE8;
	color: white;
}

.btn-adicionar,
.btn-desistir,
.btn-cancelar {
	background: #D8DFE8;
	border: 1px solid #0A3871;
}

footer {
	font-family: 'Inter', sans-serif;
	background-color: #d5d5d5;
	color: #02326d;
	padding: 10px;
	font-size: 12px;
	text-align: center;
	flex: none;
	order: 2;
	flex-grow: 0;
	margin: 0px;
}

.oculto {
	display: none;
}

.inText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 60vw;
	font-size: 32px;
	line-height: 150%;

	text-align: left;
	padding: 100px 0px;
	border: none;
	background: #E5E5E5;

	color: #0A3871;
}

input:focus {
	outline: none;
}

.label {
	padding: 0;
	margin: 0 30px;
	height: 30px;
}